<!-- This is the correct doc type for the css style sheets I'm using, as near as I can tell. *author's note to self -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<!-- TODO: Need to investigate making this better for mobile devices. *author's note to self -->
<html>
<head>
	<title>Joriah</title>

<!-- Meta tags are used by many search engines to index websites.  *author's note to self -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Trakehner horses for sale warmblood bloodlines breed Washington Abdullah Herzzauber Nemo Ichi-ban dressage jumping" />
<meta name="description" content="Tabarah Ranch strives to breed the ideal Trakehner for both the amature and professional rider while adhering to the ideals of the Verband and the ATA, seeking beauty and harmony in every aspect of our horses." />

	<LINK href="homestylefront.css" rel="stylesheet" type="text/css" />
	<LINK rel="shortcut icon" href="favicon.ico">

</head>

<body>
<ranch_background>

	<div style="float:left; width:1%; height:100%;margin-bottom:-80px;">&nbsp;</div>

	<br> <br>

<center>
    <my_h1>Joriah</my_h1>
</center>

<p>
	<center>
    <IMG src="images/jori_2011_inspection_head3_cropped.jpg" alt="A picture of Joriah" width="650" height="550">
	</center>
</p>

<br>

<p>
  This 2008 mare has a lovely start in life.  She was raised at home to learn her manners from grandmama and daily
  handling.  2011 saw Joriah started under saddle and her attendance at her first shows.  She also matched her mother's
  performance at her own Trakehner inspection with a 54, also earning her the High Point award, and continuing to
  demonstrate a splendid example of our shared breeding goals of the ATA and the Trakehner Verband.
</p>

<p>
	<center>
		<%= image_tag( "images/JoriahPasture2Day5_small.jpg", size: "500x400", alt: "Baby Jori in pasture" ) %>
    <!-- <IMG src="images/JoriahPasture2Day5_small.jpg" alt="Baby Jori in pasture" width="500" height="400"> -->
		<%= image_tag( "images/trakehnerInspectionJoriFreeTrot_cropped.jpg", size: "550x400", alt: "Jori's 2008 ATA foal evaluation" ) %>
    <!-- <IMG src="images/trakehnerInspectionJoriFreeTrot_cropped.jpg" alt="Jori's 2008 ATA foal evaluation" width="550" height="400"> -->
		<br>
			Here is Jori in one of her first days in the pasture as a foal.  Next is
			4 month old Jori at her foal evaluation at the 2008 ATA inspection.
	</center>
</p>

<p>
	<center>
		<br>
			Here is a short video of three year old Joriah free jumping a 3'3" vertical, December 2011.
		<br>
		<object width="853" height="480"><param name="movie" value="https://www.youtube.com/v/ReSyYrspJSU?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/ReSyYrspJSU?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
	</center>
<p>

<p>
  <center>
	  <br>

		Joriah won high point mare at her ATA inspection in Washington in 2011.
		<br>

		<%= image_tag( "images/jori_2011_inspection_body2_cropped.jpg", size: "750x550", alt: "Joriah's 2011 ATA inspection, body" ) %>
	  <!-- <IMG src="images/jori_2011_inspection_body2_cropped.jpg" alt="Joriah's 2011 ATA inspection, body" width="750" height="550"> -->
		<br><br><br>
  </center>
</p>

<p>
  <center>
		<br>

		This first beautiful video was produced by Emma Dye of Dye Dressage.
		<br>

		<iframe width="560" height="315" src="http://www.youtube.com/embed/Y1xVUribYbY?rel=0" frameborder="0" allowfullscreen></iframe>
		<br><br><br><br>

		First is a short clip of Jori's first day jumping under saddle, August 2012.  Next is Jori's first time stringing multiple jumps together, November 2012.  Thank you again Dye Dressage for sharing the videos.
		<br>

		<iframe width="560" height="315" src="http://www.youtube.com/embed/ajPfEaeOagY?rel=0" frameborder="0" allowfullscreen></iframe>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/NhPAp-vuqG0?rel=0" frameborder="0" allowfullscreen></iframe>
		<br><br><br>
  </center>
</p>

<p>
  <center>
		<%= image_tag( "images/jori_2011_inspection_head4_cropped.jpg", size: "375x400", alt: "Joriah's 2011 ATA inspection, head" ) %>
    <!-- <IMG src="images/jori_2011_inspection_head4_cropped.jpg" alt="Joriah's 2011 ATA inspection, head" width="375" height="400"> -->
    <br>

		We are very pleased with this stunning young lady and are preparing her to go far.
  </center>
</p>

</ranch_background>
</body>
</html>
