body {
  background: url(ranchPic1_experiment2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #F9EFE7;

  font-family: Georgia, 'Times New Roman', 'Times Roman', Times, Roman, serif;
}

MY_H1 {
  font-size:300%; font-weight:bold
}

MY_H2 {
  font-size:400%; font-weight:bold
}

MY_H3 {
  font-size:200%
}

MY_H4 {
  font-weight:bold
}
